@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.startupItemContainer {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #edf2f4;
    border-radius: 35px;
    width: 300px;
    height: 350px;
    margin: 20px;
    margin-top: 40px;
    box-shadow: 0px 3px 15px #426B9A;
    text-align: center;
}

.startupItemContainer:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 35px 0px #C0D1E4;
    transition: 0.35s ease-in;
    cursor: pointer;
  }

.img-fluid {
    width: 100px;
}
